/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-family: "HelveticaNeue-Regular", "Helvetica", sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: blue;
  text-decoration: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
a:hover {
  color: blue;
}

* {
  box-sizing: border-box;
}

.search-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.search-container input[type=search] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-type-item {
  text-align: center;
}

[class*=list-item] {
  padding: 1rem 0;
}
[class*=list-item]:nth-of-type(even) {
  background: #F9F9F9;
}
[class*=list-item] h3, [class*=list-item] h4, [class*=list-item] h6 {
  margin: 0 50px 0 0;
  overflow: hidden;
}
@media only screen and (min-width: 40.063em) {
  [class*=list-item] h3, [class*=list-item] h4, [class*=list-item] h6 {
    margin-right: 70px;
  }
}
[class*=list-item] p {
  line-height: 1.25rem;
  margin: 0.5rem 0 0.15rem;
}
[class*=list-item] .media-meta .button {
  float: right;
}
[class*=list-item] .button {
  display: inline-block;
  margin: 2px 0;
}
@media only screen and (max-width: 40em) {
  [class*=list-item] .button {
    padding-top: 0.4875rem;
    padding-bottom: 0.4875rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.movies-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#downloads-content-region {
  margin-top: 42px;
  overflow: hidden;
}

.downloads-tabs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
  margin-bottom: 0;
}

/*  Base page styles */
* {
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  background: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

nav.icon-bar {
  display: block;
  overflow: hidden;
}

@media only screen and (min-width: 40.063em) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  #main {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  #navbar {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  nav.icon-bar.medium-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.icon-bar.medium-vertical .item {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.alert-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
