body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-family: "HelveticaNeue-Regular", "Helvetica", sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: blue;
  text-decoration: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
a:hover {
  color: blue;
}

* {
  box-sizing: border-box;
}

.search-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.search-container input[type=search] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-type-item {
  text-align: center;
}

.movies-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*  Base page styles */
* {
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  background: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#navbar {
  height: 56px;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
