//
//  Notes:
//
//  core/   folder that includes generic/reusable components
//  app/    includes styles that are very specific to this project (just in certain areas)
//
@import
    'base',
    'pages/home';


/*  Base page styles */
* {
	text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  background: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}