#downloads-content-region {
	margin-top: 2.5rem;
	overflow: hidden;
}

.downloads-tabs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.download-progress {
	margin-top: 0.5rem;

	.progress {
		margin-left: -3px;
		margin-right: -3px;
	}
}