nav.icon-bar {
	display: block;

	.item {
		position: relative;

		&:not(.active) {
			background: $oil;
		}

		&.active {
			.progbar {
				opacity: 1;
			}
		}

		i {
			position: relative;
			z-index: 1;
		}

		.progbar {
			position: absolute;
			z-index: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 0%;
			height: 10%;

			opacity: 0.5;

			&.secondary {
				background: $secondary-color;
			}
			&.alert {
				background: $alert-color;
			}
			&.success {
				background: $success-color;
			}
			&.warning {
				background: $warning-color;
			}
			&.info {
				background: $info-color;
			}
		}

		.badge {
			position: absolute;
			top: -5px;
			right: -5px;
			z-index: 1;
		}
	}
}

@media #{$large-up} {
	#navbar {
		width: 20%;
		position: relative;

		&:before {
			content: attr(data-appname);
			font-family: 'HelveticaNeue-Light';
			color: scale-color(white, $lightness: -50%);
			background: scale-color($oil, $lightness: 5%);
			border-bottom: 0.5px solid darken($oil, 5%);
			height: $app-titlebar-height;
			padding: 0.6rem 1.5rem;
		}
		
		&:after {
			content: "v " attr(data-version);
			font-family: 'HelveticaNeue-Light';
			font-style: italic;
			font-size: 0.9em;
			color: scale-color(white, $lightness: -50%);
			position: absolute;
			bottom: 0;
			right: 1.5rem;
		}
	}

	nav.icon-bar.large-vertical {
		display: flex;
		flex: 1;
		flex-direction: column;

		.item {
			margin: 0;
			text-align: left;
			padding: 1rem 1.5rem;

			& > * {
				display: inline-block !important;
				margin: 0;
				width: auto;
			}

			i {
				width: 30px;
				text-align: center;
			}

			label {
				padding-left: 10%;
			}
		}
	}
}