.search-container {
	display: flex;
	margin-top: 1rem;
}

.search-field-container {
	transition: 0.2s transform ease;
	transform: translateY(10vh);

	input[type=search] {
		flex: 1;
        box-shadow: $shadow-level2;
        border: none;
        transition: 0.3s all ease;

		@media #{$medium-up} {
			font-size: 1.25rem;
		}
	}

	.keyboard-capture {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		cursor: text;
	}

	.media-switch-container {
		margin-top: 1rem;
		display: none;

		&.animate {
			display: inline-block;
			transition: 0.25s transform ease;
		}
	}

	&.focus {
		transform: translateY(0);

		.media-switch-container {
			transform: translate(-3px, -83px) !important;
		}

		.keyboard-capture {
			pointer-events: none;
		}

		input[type=search] {
			box-shadow: $shadow-level1;
		}
	}
}

.search-type-item {
	text-align: center;
}

[class*=list-item] {
	padding: 1rem 0;

	&:nth-of-type(even) {
		background: #F9F9F9; 
	}

	h3, h4, h5, h6 {
		margin: 0 50px 0 0;
		overflow: hidden;

		@media #{$medium-up} {
			margin-right: 70px;
		}
	}

	p {
		line-height: 1.25rem;
		margin: 0.5rem 0 0.15rem;
	}

	.media-meta {
		.th {
			margin-right: 10px;
			float: left;
			border-width: 3px;
			display: none;

			img {
				height: 40px;
			}
		}

		.button-group {
			float: right;
			
			.button {
				display: block;
				float: none;

				& + .button {
					margin-top: 5px;
				}
			}
		}
	}

	.button {
		float: right;
		display: inline-block;
		margin: 2px 0;

		@media #{$small-only} {
			padding-top: 0.4875rem;
			padding-bottom: 0.4875rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}

		@media #{$medium-up} {
		}
	}
}

@mixin active {
	opacity: 1;
	font-weight: bold;
	&:before {
		float: right;
		display: block;
	}
}

@mixin inactive {
	opacity: 0.5;
	font-weight: normal;
	&:before {
		float: left;
		display: none;
	}
}

.media-switch {
	border-radius: 2rem;
	box-shadow: $shadow-level1;
	padding: 1rem 1rem;
	display: inline-block;

	perspective: 1000;
	transition: 0.6s transform;
	transform-style: preserve-3d;

	label {
		display: inline-block;
		pointer-events: none;

		&:before {
			margin: 0rem 0.6rem 0 0.6rem;
			font-size: 1.3rem;
		}

		&:first-of-type {
			@include active;
		}

		&:last-of-type {
			@include inactive;
		}
	}

	input {
		display: none;
	}

	&.small {
		width: 3rem;
		height: 3rem;
		padding: 0;
		position: relative;
		background: $primary-color;

		.switch-text {
			display: none;
		}

		label {
			position: absolute;
			top: 0.9rem;
			color: white;

			&:before {
				margin: 0;
			}

			&:first-of-type {
				left: 0.8rem;
			}

			&:last-of-type {
				right: 0.9rem;
			}
		}
	}

	&.flip {
		transform: rotateY(180deg);
	}

	&.backface {
		label {
			transform: rotateY(180deg);

			&:first-of-type {
				@include inactive;
			}

			&:last-of-type {
				@include active;
			}
		}
	}
}