.search-container {
	display: flex;

	input[type=search] {
		flex: 1;
	}
}

.search-type-item {
	text-align: center;
}

[class*=list-item] {
	padding: 1rem 0;

	&:nth-of-type(even) {
		background: #F9F9F9; 
	}

	h3, h4, h5, h6 {
		margin: 0 50px 0 0;
		overflow: hidden;

		@media #{$medium-up} {
			margin-right: 70px;
		}
	}

	p {
		line-height: 1.25rem;
		margin: 0.5rem 0 0.15rem;
	}

	.media-meta {
		.button-group {
			float: right;
			
			.button {
				display: block;
				float: none;

				& + .button {
					margin-top: 5px;
				}
			}
		}
	}

	.button {
		float: right;
		display: inline-block;
		margin: 2px 0;

		@media #{$small-only} {
			padding-top: 0.4875rem;
			padding-bottom: 0.4875rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}

		@media #{$medium-up} {
		}
	}
}