<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NZBApp</title>

    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="apple-touch-icon" sizes="120x120" href="img/mobile-icon-56.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/mobile-icon-6plus.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- injector:css -->
    <link rel="stylesheet" href="css/lib/foundation-icons.css">
    <link rel="stylesheet" href="css/lib/foundation.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- endinjector -->
</head>
<body>
    <div id="modal"style="display: none;"></div>
    <main id="main"></main>

    <!-- templates -->
    <script type="text/template" id="server-setup-template">
        <div id="server-collection"></div>
        <div class="row">
            <!--input type="button" class="button" id="server-save" value="Save" /-->
            <a href="#" class="button" id="server-save">Save</a>
        </div>
    </script>

    <script type="text/template" id="server-setup-fields-template">
        <legend><%- data.serverName %></legend>

        <h4>Server URL</h4>
        <div class="row collapse">
            <div class="small-3 large-2 columns">
                <span class="prefix">http://</span>
            </div>
            <div class="small-9 large-10 columns">
                <input class="server-url" type="text" placeholder="Enter your URL..." value="<%- data.serverUrl %>">
            </div>
        </div>

        <h4>API Token</h4>
        <div class="row collapse">
            <div class="small-3 large-2 columns">
                <span class="prefix">Token</span>
            </div>
            <div class="small-9 large-10 columns">
                <input class="server-token" type="text" placeholder="Enter API Token" value="<%- data.token %>">
            </div>
        </div>
    </script>

    <script type="text/template" id="home-template">
        <div id="content-region" class="content-area"></div>
        <div id="navbar-region"></div>
    </script>

    <script type="text/template" id="navbar-template">
        <a class="item">
            <i class="fi-magnifying-glass"></i>
            <label>Search</label>
        </a>
        <a class="item">
            <i class="fi-home"></i>
            <label>CouchPotato</label>
        </a>
        <a class="item">
            <i class="fi-home"></i>
            <label>SickBeard</label>
        </a>
        <a class="item">
            <i class="fi-home"></i>
            <label>SABnzbd</label>
        </a>
        <a class="item">
            <i class="fi-widget"></i>
            <label>Settings</label>
        </a>
    </script>

    <script type="text/template" id="search-template">
        <h2>Search</h2>
    </script>
    
    <!-- injector:js -->
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/backbone.babysitter.js"></script>
    <script src="js/lib/backbone.localStorage.js"></script>
    <script src="js/lib/backbone.marionette.js"></script>
    <script src="js/lib/backbone.wreqr.js"></script>
    <script src="js/lib/fastclick.js"></script>
    <script src="js/lib/foundation.js"></script>
    <script src="js/lib/jquery.cookie.js"></script>
    <script src="js/lib/jquery.placeholder.js"></script>
    <script src="config.js"></script>
    <script src="js/transition-region.js"></script>
    <script src="js/app.js"></script>
    <script src="js/apps/home/home_view.js"></script>
    <script src="js/apps/home/navbar/navbar_view.js"></script>
    <script src="js/apps/home/search/search_view.js"></script>
    <script src="js/apps/server/server_setup_view.js"></script>
    <script src="js/entities/server.js"></script>
    <!-- endinjector -->
</body>
</html>