<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NZBApp</title>

    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="apple-touch-icon" sizes="120x120" href="img/mobile-icon-56.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/mobile-icon-6plus.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- injector:css -->
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/lib/foundation-icons.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- endinjector -->
</head>
<body>
    <div id="modal"style="display: none;"></div>
    <main id="main"></main>
    <div id="navbar"></div>

    <!-- templates -->
    <script type="text/template" id="server-setup-template">
        <div id="server-collection"></div>
        <div class="row">
            <a href="#" class="button small-12 medium-4 medium-offset-8" id="server-save">Save</a>
        </div>
    </script>

    <script type="text/template" id="server-setup-fields-template">
        <legend><%- data.name %></legend>

        <h4>Server URL</h4>
        <div class="row collapse">
            <div class="small-2 large-1 columns">
                <span class="prefix fi-link"></span>
            </div>
            <div class="small-10 large-11 columns">
                <input class="server-url" type="text" placeholder="Enter your URL..." value="<%- data.serverUrl %>">
            </div>
        </div>

        <h4>API Token</h4>
        <div class="row collapse">
            <div class="small-2 large-1 columns">
                <span class="prefix fi-key"></span>
            </div>
            <div class="small-10 large-11 columns">
                <input class="server-token" type="text" placeholder="Enter API Token" value="<%- data.token %>">
            </div>
        </div>
    </script>

    <script type="text/template" id="navbar-template">
        <i class="<%- data.icon %>"></i>
        <label><%= data.name %></label>
    </script>

    <script type="text/template" id="search-template">
        <h1 class="text-center">Search</h1>
        <div class="row">
            <div class="small-10 small-offset-1 search-container">
                <input type="search" placeholder="Search for a Movie or TV Show" <% if (data.value) { %>value="<%= data.value %>"<% } %> />
            </div>
        </div>
        <div class="row">
            <div class="small-6"><label><input type="radio" name="type" value="movies" <% if (!data.type || data.type == 'movies') { %>checked<% } %> /> Movies</label></div>
            <div class="small-6"><label><input type="radio" name="type" value="shows" <% if (data.type == 'shows') { %>checked<% } %> /> Shows</label></div>
        </div>
        <div id="search-results-region"></div>
    </script>

    <script type="text/template" id="movie-list-template">
        <div class="small-2">
            <div class="th">
              <img src="<%- _.first(data.images.poster) %>">
            </div>
        </div>
        <div class="small-9">
            <h3><%= data.title || data.original_title %></h3>
            <h4 class="subtitle"><%= data.year %></h4>
            <% if (data.tagline) { %><p><%= data.tagline %></p><% } %>
        </div>
        <div class="small-1">
            <a class="fi-plus"></a>
        </div>
    </script>

    <script type="text/template" id="show-list-template">
        <div class="small-11">
            <h3><%= data.show_name || data.name %></h3>
            <% if (data.network) { %><h4 class="subtitle"><%= data.network %></h4><% } %>
            <% if (data.first_aired) { %><h4 class="subtitle">First aired: <%= data.first_aired %></h4><% } %>
            <% if (data.status) { %><p>Status: <span class="label rounded <% if (data.status != 'Ended' ) { %>success<% } else { %>secondary<% } %>"><%= data.status %></span></p><% } %>
        </div>
        <div class="small-1">
            <a class="fi-plus"></a>
        </div>
    </script>  
    
    <!-- injector:js -->
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/Backbone.dualStorage.js"></script>
    <script src="js/lib/backbone.babysitter.js"></script>
    <script src="js/lib/backbone.marionette.js"></script>
    <script src="js/lib/backbone.wreqr.js"></script>
    <script src="js/lib/fastclick.js"></script>
    <script src="js/lib/foundation.js"></script>
    <script src="js/lib/jquery.cookie.js"></script>
    <script src="js/lib/jquery.placeholder.js"></script>
    <script src="config.js"></script>
    <script src="js/transition-region.js"></script>
    <script src="js/app.js"></script>
    <script src="js/apps/movies/list/list_controller.js"></script>
    <script src="js/apps/movies/list/list_view.js"></script>
    <script src="js/apps/movies/movies_app.js"></script>
    <script src="js/apps/navbar/navbar_app.js"></script>
    <script src="js/apps/navbar/tabs/tab_view.js"></script>
    <script src="js/apps/navbar/tabs/tabs_controller.js"></script>
    <script src="js/apps/search/results/results_controller.js"></script>
    <script src="js/apps/search/results/results_view.js"></script>
    <script src="js/apps/search/search_app.js"></script>
    <script src="js/apps/search/show/show_controller.js"></script>
    <script src="js/apps/search/show/show_view.js"></script>
    <script src="js/apps/server/server_app.js"></script>
    <script src="js/apps/server/setup/setup_controller.js"></script>
    <script src="js/apps/server/setup/setup_view.js"></script>
    <script src="js/apps/shows/list/list_controller.js"></script>
    <script src="js/apps/shows/list/list_view.js"></script>
    <script src="js/apps/shows/shows_app.js"></script>
    <script src="js/entities/api.js"></script>
    <script src="js/entities/movies.js"></script>
    <script src="js/entities/server.js"></script>
    <script src="js/entities/shows.js"></script>
    <script src="js/entities/tabs.js"></script>
    <!-- endinjector -->

    <script type="text/javascript">
        // Start the app after all scripts have loaded
        jjs.NZBAppManager.start();
    </script>
</body>
</html>