#downloads-content-region {
	margin-top: 3.5rem;
	overflow: hidden;
}

.downloads-tabs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: $silver;
	text-align: center;

	dd {
		display: inline-block;
		float: none;
	}
}

.download-progress {
	margin-top: 0.5rem;

	.progress {
		margin-left: -3px;
		margin-right: -3px;
	}
}