#downloads-content-region {
	margin-top: 42px;
	overflow: hidden;
}

.downloads-tabs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #f2f2f2;
	padding: 10px 10px 10px 0; 
	margin-bottom: 0;
}

.download-progress {
	margin-top: 0.5rem;

	.progress {
		margin-left: -3px;
		margin-right: -3px;
	}
}